<!DOCTYPE html>
<html>
  <head>
    <title>Advisor Selection System</title>
    <link rel="stylesheet"
    href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet"
    href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  </head>
  <style>
    .bootstrap-demo{margin:30px;}
  </style>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Advisor Selection System</a>
          <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">{{stuName}}</a></p>
          <p class="navbar-text navbar-right"><a href="logout" class="navbar-link">Log Out</a></p>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <div class="bootstrap-demo">
      <div class="row">

        {% for advisor in allAdvisors %}
        <div class="col-sm-6 col-md-4"> <!-- column 1 -->
          <div class="thumbnail"> <!--  thumbnail 1  -->
            <img src={{advisor.photo}} alt="{{advisor.name}}"> <!-- image 1 -->
            <div class="caption"> <!-- caption -->
              <h3>{{advisor.name}}</h3>
              <h4>{{advisor.title}}</h4>
              <p>{{advisor.research}}</p>
              <p>
                <form method="POST">
                  {% csrf_token %}
                  <textarea name="username" value={{stuName}} style="display:none;"></textarea>
                  <button class="btn btn-sm btn-primary" type="submit" name="select" value={{advisor.name}}>select</button> <!-- btn 1 -->
                  <a href="#" class="btn btn-default" role="button" data-toggle="modal" data-target="#myModal">show detail</a></p>  <!-- btn 2 -->
                </form>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">{{advisor.name}}</h4>
                    </div>
                    <div class="modal-body">
                      <p>{{advisor.introduction}}</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
